<?xml version="1.0" ?>

<visus>

<datasets>
  <dataset name="cat"          url="http://cedmav7.sci.utah.edu:8083/mod_visus?dataset=cat&amp;compression=zip"          permissions="public" />
  <dataset name="1_BlueMarble" url="http://molniya.sci.utah.edu/mod_visus?dataset=cat&amp;compression=zip"               permissions="public" />
  <dataset name="David"        url="http://atlantis.sci.utah.edu/mod_visus?dataset=david_subsampled&amp;compression=zip" permissions="public" />
</datasets>

</visus>
