<?xml version="1.0" ?>
<visus>
  <dataset name="nature_2007_aer1_hourly" permissions="public" url="file:///data_captarm/christensen41/idx/nature_2007_aer1_hourly.idx" />
  <dataset name="nature_2007_met1_hourly" permissions="public" url="file:///data_pcmdi/christensen41/idx/nature_2007_met1_hourly.idx" />
  <dataset name="nature_2007_T_hourly" permissions="public" url="file:///data_pcmdi/christensen41/idx/nature_2007_T_hourly.idx" />
  <dataset name="nature_2007_CO2_hourly" permissions="public" url="file:///data_captarm/christensen41/idx/nature_2007_CO2_hourly.idx" />
  <dataset name="nature_2007_CO2_missing_timesteps" permissions="public" url="file:///data_pcmdi/christensen41/idx/CO2_missing_timesteps.idx" />
  <dataset name="nature_2007_BCPHOBIC_hourly" permissions="public" url="file:///data_pcmdi/christensen41/idx/nature_2007_BCPHOBIC_hourly.idx" />
  <dataset name="nature_2007_BCPHILIC_hourly" permissions="public" url="file:///data_captarm/christensen41/idx/nature_2007_BCPHILIC_hourly.idx" />

  <dataset name='z_2kbit1' url='http://molniya.sci.utah.edu/mod_visus?dataset=2kbit1' permissions='public'/>
  <dataset name='TheBlueMarble' url='http://molniya.sci.utah.edu/mod_visus?dataset=1_BlueMarble' permissions='public'/>

  <dataset name="nature_2007_2d_hourly" permissions="public" url="file:///scratch/for_ganzberger1/idx/mod_visus/nature_2007_2d_hourly.midx" />
  <dataset name="nature_2007_2d_met1_hourly" permissions="public" url="file:///scratch/for_ganzberger1/idx/mod_visus/nature_2007_2d_met1_hourly.midx" />
  <dataset name="nature_2007_3d_hourly" permissions="public" url="file:///scratch/for_ganzberger1/idx/mod_visus/nature_2007_3d_hourly.midx" />
  <dataset name="nature_2007_3d_T_BCPHOBIC_hourly" permissions="public" url="file:///scratch/for_ganzberger1/idx/mod_visus/nature_2007_3d_T_BCPHOBIC_hourly.midx" />
</visus>


